/*
Theme Name: Open-Incubator
Author: Isabelle Sonke
*/
@font-face {
  font-family: 'Poppins-light';
  src: url(./fonts/Poppins-Light.ttf);
  font-weight: 200; }

@font-face {
  font-family: 'Poppins-regular';
  src: url(./fonts/Poppins-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: 'Poppins-medium';
  src: url(./fonts/Poppins-Medium.ttf);
  font-weight: 500; }

@font-face {
  font-family: 'Poppins-bold';
  src: url(./fonts/Poppins-Bold.ttf);
  font-weight: 700; }

a {
  margin: 0; }

h1 {
  color: blue;
  font-family: 'Poppins-bold';
  font-size: 30pt; }

h2 {
  color: blue;
  font-family: 'Poppins-bold';
  font-size: 25pt; }

h3 {
  color: blue;
  font-family: 'Poppins-medium';
  font-size: 16pt; }

h4 {
  color: blue;
  font-family: 'Poppins-medium';
  font-size: 14pt;
  margin: 0; }

p {
  font-family: 'Poppins-regular';
  word-wrap: break-word;
  font-size: 12pt; }

a {
  color: blue;
  font-family: 'Poppins-regular';
  text-decoration: none !important; }

ul {
  list-style: none;
  padding-inline-start: 0px; }

li {
  color: black;
  display: inline; }

img {
  display: block;
  height: auto;
  width: 100%;
  margin: 0 auto 0 auto; }

button {
  background-color: white;
  color: red;
  text-decoration: underline;
  font-size: medium;
  border-style: none;
  font-family: inherit;
  font-weight: 200; }

button:hover {
  background-color: red;
  color: white;
  border-color: white; }

table, th, td {
  border: 2px;
  border-style: solid;
  border-color: blue;
  border-collapse: collapse; }

table {
  width: 100%;
  border: 0px; }

body {
  height: 100%;
  display: grid;
  grid-template-columns: 5% 20% 25% 25% 20% 5%;
  grid-template-rows: auto auto auto auto auto 100px auto;
  background-color: white;
  margin: 0;
  font-family: Poppins, Roboto, sans-serif; }

.content {
  grid-column: 2/6;
  grid-row: 2/3; }

.content-archive {
  grid-column: 2/6;
  grid-row: 2/3;
  position: relative;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto; }

.content-single {
  grid-column: 2/6;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto, auto, auto; }

@media screen and (max-width: 1200px) {
  .content-archive {
    grid-column: 2/6;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 12% 22% 22% 22% 22%;
    grid-template-rows: auto; } }

@media screen and (max-width: 1200px) {
  .content {
    margin: 0 1em 0 1em; }
  h3 {
    font-size: 10pt; }
  p {
    font-size: 8pt; } }

@media screen and (max-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 1% 24% 25% 25% 24% 1%;
    grid-template-rows: auto auto auto auto auto 100px auto; }
  .content {
    grid-column: 2/6;
    grid-row: 2/3;
    padding: 1em;
    margin: 0 1em 0 1em; } }

@media screen and (max-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 5% 20% 25% 25% 20% 5%;
    grid-template-rows: 150px auto auto auto auto auto auto auto 100px auto; } }

@media screen and (max-width: 480px) {
  h2 {
    font-size: 18pt; }
  p {
    font-size: 10pt; } }

.um {
  opacity: 1 !important; }
  .um select {
    display: inline-block !important; }

.um-profile {
  margin-top: 100px; }

.menuWrap {
  grid-column: 1/7;
  grid-row: 1/2;
  border: 0px;
  border-bottom: 2px;
  border-style: solid;
  border-color: blue;
  box-shadow: 0 3px 2px -2px grey; }
  .menuWrap .primaryMenu {
    display: flex;
    justify-content: left; }
    .menuWrap .primaryMenu .logo {
      width: 20%;
      margin: 0 0 0 10px; }
    .menuWrap .primaryMenu .menu-header-container {
      width: 80%;
      display: flex;
      justify-content: right; }
  .menuWrap .mobile-menu {
    display: none; }
    .menuWrap .mobile-menu .showMenu {
      display: none; }
    .menuWrap .mobile-menu .menu-mobile-header-menu-container {
      display: none; }

.menu-item {
  display: inline;
  margin: 0 25px;
  width: fit-content; }
  .menu-item a {
    color: black;
    text-decoration: none; }

.menu-item-has-children {
  position: relative; }
  .menu-item-has-children > .sub-menu {
    margin: 1rem 0 1rem 3rem; }
  .menu-item-has-children .sub-menu {
    position: absolute;
    top: 100%;
    background-color: #EAF2F9;
    padding: 0.5rem 1.5rem 1rem;
    left: 0;
    margin-left: 0;
    display: none;
    font: 1em;
    margin-top: 0;
    z-index: 1000; }
    .menu-item-has-children .sub-menu .menu-item {
      line-height: 2;
      white-space: nowrap; }
  .menu-item-has-children:focus, .menu-item-has-children:hover {
    cursor: pointer; }
    .menu-item-has-children:focus .sub-menu, .menu-item-has-children:hover .sub-menu {
      display: block; }

@media screen and (max-width: 1024px) {
  .menuWrap {
    position: relative; }
    .menuWrap .primaryMenu {
      display: none; }
      .menuWrap .primaryMenu .logo {
        display: none; }
      .menuWrap .primaryMenu .menu-header-container {
        width: 100%;
        display: flex;
        justify-content: center; }
    .menuWrap .mobile-menu {
      position: relative;
      display: flex;
      justify-content: center; }
      .menuWrap .mobile-menu .showMenu {
        display: block;
        position: absolute;
        top: -55px;
        left: 0;
        z-index: 2;
        padding: 1em; }
      .menuWrap .mobile-menu .menu-mobile-header-menu-container {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        z-index: 99999999;
        background-color: #EAF2F9; }
        .menuWrap .mobile-menu .menu-mobile-header-menu-container li {
          display: block;
          width: 100%;
          text-align: center;
          padding: 1em;
          margin: 0; } }

.menu-footer-container {
  grid-column: 1/7;
  grid-row: 6/7;
  border: 0px;
  border-top: 2px;
  border-color: blue;
  border-style: solid;
  background-color: #EAF2F9; }

@media screen and (max-width: 768px) {
  .menu-footer-container {
    display: flex;
    justify-content: center;
    width: 100%; } }

@media screen and (max-width: 768px) {
  .menu-footer-container {
    display: flex;
    justify-content: center;
    width: 100%; } }

.connect {
  display: block;
  width: 100%;
  grid-column: 2/6;
  grid-row: 5/6;
  position: relative;
  width: 100%; }
  .connect .wrap {
    float: right;
    position: relative;
    padding: 2em;
    width: 50%; }
  .connect button {
    border-radius: 0;
    padding: 1em 7em 1em 7em;
    word-break: keep-all;
    color: blue;
    text-decoration: none;
    text-align: center;
    font-size: 15pt;
    font-weight: 600;
    border: 3px;
    border-style: solid;
    border-color: blue;
    box-shadow: 5px 5px 4px grey; }
  .connect button:hover {
    background-color: #EAF2F9; }
  .connect .lineAnimation {
    display: block;
    position: absolute;
    right: 15%;
    margin-top: 140px;
    width: 250px;
    height: 5px;
    background-color: red;
    z-index: -1;
    animation-name: translateRight;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }
  .connect .decoration-1 {
    position: absolute;
    width: 20%;
    bottom: 0;
    left: 0;
    animation-name: wobble;
    animation-duration: 7s;
    animation-iteration-count: infinite; }

.connectImg {
  width: 5em;
  position: absolute;
  top: 0;
  left: 0; }
  .connectImg .connectImg img {
    width: 100%; }

@media screen and (max-width: 768px) {
  .connect button {
    padding: 1rem 30% 1rem 30%;
    width: max-content; } }

.racetrack {
  margin-top: 50px;
  display: inline-block;
  width: 100%;
  position: relative; }
  .racetrack .racetrack-graph {
    display: inline-block;
    width: 55%;
    height: 1000px;
    position: relative;
    vertical-align: top;
    margin-top: 100px; }
  .racetrack .racetrack-table {
    display: inline-block;
    width: 25%;
    height: 1000px; }
    .racetrack .racetrack-table table {
      display: inline-block;
      width: 100%;
      margin: 0;
      margin-top: 4em;
      background-color: #ffffff; }
    .racetrack .racetrack-table .table h2 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      padding-left: 5px; }
    .racetrack .racetrack-table h3 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      padding-left: 5px; }
    .racetrack .racetrack-table p {
      padding-left: 5px;
      font-size: 10pt; }
    .racetrack .racetrack-table .image {
      background-color: #EAF2F9; }
  .racetrack .background-image {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 2em; }
  .racetrack .phase-heading {
    height: 50%;
    width: 100%;
    background-color: #EAF2F9;
    text-align: center;
    border: 2px;
    border-color: blue;
    border-style: solid; }
    .racetrack .phase-heading h2 {
      margin-top: 8%;
      margin-bottom: auto; }
  .racetrack .phase-summary {
    height: auto;
    width: 100%;
    background-color: #ffffff;
    border: 2px;
    border-color: #707070;
    border-style: solid; }
    .racetrack .phase-summary p {
      margin-left: 5px;
      font-size: 10pt; }
  .racetrack .phase-1 {
    position: absolute;
    left: 55%;
    top: 20%;
    width: 240px;
    height: 150px; }
  .racetrack .phase-2 {
    position: absolute;
    left: 55%;
    top: 47%;
    width: 240px;
    height: 150px; }
  .racetrack .phase-3 {
    position: absolute;
    left: -2%;
    top: 35%;
    width: 240px;
    height: 150px; }
  .racetrack .phase-4 {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 240px;
    height: 150px; }
  .racetrack .previous, .racetrack .next {
    display: inline-block;
    vertical-align: top;
    height: 60px;
    width: 60px;
    margin: 1em;
    margin-top: 500px;
    background-color: #EAF2F9; }

.previous h2, .next h2 {
  margin: 5px 5px 5px 5px;
  text-align: center;
  color: #ff0000;
  font-weight: 100; }

.showFilter {
  display: none; }

.postFilter {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 0;
  margin: 20px 0 0 0;
  vertical-align: top;
  display: block; }
  .postFilter ul {
    padding-left: 0; }
    .postFilter ul li {
      display: block; }
      .postFilter ul li button {
        text-decoration: none;
        color: #000000; }

.postList {
  position: relative;
  grid-column: 2/6;
  grid-row: 1/2;
  display: flex;
  flex-wrap: wrap; }
  .postList .post {
    position: relative;
    flex-basis: 30%;
    height: 400px;
    margin: 1rem; }
    .postList .post img {
      position: inherit;
      object-fit: cover;
      height: 85%;
      width: 80%; }
    .postList .post .description {
      position: absolute;
      top: 70%;
      right: 0;
      min-width: 55%;
      padding: 0.5rem;
      margin: 1rem;
      background-color: #EAF2F9;
      color: #000000; }
      .postList .post .description .tags {
        margin: 0; }
      .postList .post .description .cta {
        margin: 0;
        text-decoration: underline;
        font-weight: 800; }
  .postList .post:hover img {
    animation-name: brightness_animation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  .postList .post:hover .description {
    animation-name: position_shift;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }

@keyframes brightness_animation {
  from {
    filter: brightness(100%); }
  to {
    filter: brightness(70%); } }

@keyframes position_shift {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(10px, 10px); } }

@media screen and (max-width: 1024px) {
  .postList .post {
    flex-basis: 45%; } }

@media screen and (max-width: 800px) {
  .postList .post {
    flex-basis: 100%; }
  .showFilter {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999; }
  .postFilter {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 9999;
    width: auto;
    grid-column: unset;
    grid-row: unset;
    background-color: white; } }

.acf-fields {
  grid-column: 2/6;
  grid-row: 2/3;
  padding: 1em 4em 1em 4em; }

.startup-title {
  width: 100%;
  margin-bottom: 1em; }
  .startup-title h3 {
    color: #000000; }

.startup-image {
  width: 70%;
  display: inline-block; }
  .startup-image img {
    width: 100%;
    height: auto; }

.startup-info {
  width: 25%;
  padding: none;
  display: inline-block;
  vertical-align: top; }

.startup-content {
  grid-column: 2/6;
  grid-row: 3/5;
  padding: 1em 4em 1em 4em; }

.industries {
  display: flex; }
  .industries .filters {
    width: 25%;
    padding: 10px; }
  .industries .items {
    width: 75%;
    padding: 10px; }

.solution-header {
  grid-column: 1/3;
  grid-row: 1/2; }
  .solution-header button {
    margin-top: 1rem; }
  .solution-header .taxonomies {
    margin-top: 5rem; }
  .solution-header h1 {
    margin: 0; }

.solution-thumbnail {
  grid-column: 3/5;
  grid-row: 1/2;
  padding: 2rem; }
  .solution-thumbnail img {
    width: 100%;
    height: 100%; }

.solution-situation {
  grid-column: 1/5;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  margin-top: 100px; }
  .solution-situation h2 p {
    max-width: 300px; }

.column {
  grid-column: 1/5;
  grid-row: 3/4;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px; }
  .column .solution-challenge {
    flex-basis: 50%;
    padding: 1rem; }
    .column .solution-challenge h2 p {
      max-width: 300px; }
  .column .solution-concept {
    flex-basis: 50%;
    padding: 1rem; }
    .column .solution-concept h2 p {
      max-width: 300px; }

@media screen and (max-width: 800px) {
  .solution-thumbnail {
    grid-column: 1/5;
    grid-row: 2/3; }
  .solution-header {
    grid-column: 1/5;
    grid-row: 1/2; }
  .solution-situation {
    grid-column: 1/5;
    grid-row: 3/4;
    justify-content: left;
    padding-left: 1rem; }
  .column {
    grid-column: 1/5;
    grid-row: 4/5; }
    .column .solution-challenge {
      flex-basis: 100%; }
    .column .solution-concept {
      flex-basis: 100%; } }

.ginput_container {
  margin-bottom: 50px; }

input {
  border: 0;
  border-bottom: 2px;
  border-color: #000000;
  border-style: solid; }

input[type=file] {
  border: 0; }

input[type=submit] {
  width: 250px;
  height: 75px;
  background-color: #0000ff;
  color: #ffffff;
  font-size: larger;
  font-weight: 600; }

.formImage img {
  position: absolute;
  width: 25%; }

@media screen and (max-width: 768px) {
  .formImage img {
    position: absolute;
    visibility: hidden;
    z-index: -1; } }

.hero-3-images {
  width: 100%;
  min-height: 550px;
  display: inline-block;
  margin-bottom: 50px;
  position: relative; }
  .hero-3-images .text {
    margin: 4em 1em 1em 4em;
    vertical-align: top;
    display: inline-block;
    width: 30%; }
  .hero-3-images .text p {
    max-width: 100%; }
  .hero-3-images .image-1 {
    margin: 1rem 1rem 1rem 1rem;
    display: inline-block;
    width: 40%;
    vertical-align: center; }
  .hero-3-images .image-2 {
    display: inherit;
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 12%; }
  .hero-3-images .image-2 img {
    object-fit: cover;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: 2px;
    border-color: #707070;
    border-style: solid; }
  .hero-3-images .image-3 {
    display: inherit;
    position: absolute;
    bottom: -5%;
    left: 50%; }
  .hero-3-images .image-3 img {
    object-fit: cover;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    border: 2px;
    border-color: #707070;
    border-style: solid; }
  .hero-3-images .decoration-1 {
    display: inherit;
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 15%;
    margin-left: -50px;
    z-index: -1;
    animation-name: wobble;
    animation-duration: 5s;
    animation-iteration-count: infinite; }
  .hero-3-images .decoration-2 {
    display: inherit;
    position: absolute;
    bottom: 0;
    left: 35%;
    width: 20%;
    z-index: -1;
    animation-name: wobble;
    animation-duration: 6s;
    animation-iteration-count: infinite; }
  .hero-3-images .startup-counter {
    display: inherit;
    position: absolute;
    bottom: 0;
    left: 65%;
    width: 80px;
    height: 150px;
    margin-bottom: -75px;
    z-index: 1;
    text-align: center;
    font-weight: lighter;
    font-size: smaller;
    color: #707070; }
  .hero-3-images .startup-amount {
    display: block;
    left: 65%;
    width: 80px;
    height: 80px;
    background-color: #EAF2F9;
    border-radius: 50%;
    text-align: center;
    padding-bottom: 8px;
    border: 2px;
    border-color: #707070;
    border-style: solid; }
  .hero-3-images .startup-counter h2 {
    padding: 0;
    margin: 0;
    margin-top: 0.5em; }
  .hero-3-images .racetrack {
    display: inherit;
    width: 20%;
    position: absolute;
    right: 20%;
    top: 60%;
    z-index: -1;
    visibility: hidden; }

@media screen and (max-width: 1200px) {
  .hero-3-images .image-1 {
    float: right;
    margin-top: 4rem; }
  .hero-3-images .image-2 {
    bottom: 0%;
    left: 30%; }
  .hero-3-images .image-3 {
    bottom: 0%;
    left: 60%; } }

@media screen and (max-width: 1024px) {
  .hero-3-images .image-1 img {
    width: 100%;
    margin-top: 4rem; }
  .hero-3-images .text {
    width: 35%; }
  .hero-3-images text p {
    max-width: 100%; }
  .hero-3-images .racetrack {
    visibility: hidden; } }

@media screen and (max-width: 800px) {
  .hero-3-images .text {
    width: 100%;
    margin: 4rem 1rem 1rem 1rem; }
    .hero-3-images .text p {
      max-width: 30%; }
  .hero-3-images .image-1 {
    margin-top: 0;
    position: absolute;
    right: 5%;
    bottom: 25%;
    width: 50%; }
    .hero-3-images .image-1 img {
      width: 100%;
      margin-top: 0; }
  .hero-3-images .image-2 {
    bottom: 0;
    left: 40%; }
  .hero-3-images .image-3 {
    position: absolute;
    bottom: 0;
    left: 70%; }
  .hero-3-images .startup-counter {
    bottom: 7%;
    right: 5%; } }

@media screen and (max-width: 480px) {
  .hero-3-images .text {
    display: inline-block;
    width: 100%;
    margin: 4rem 1rem 1rem 1rem; }
    .hero-3-images .text p {
      max-width: 100%; }
  .hero-3-images .image-1 {
    position: relative;
    float: left;
    right: 0;
    left: 0;
    margin: 1rem;
    width: 100%; }
  .hero-3-images .image-3 {
    position: absolute;
    z-index: -1;
    visibility: hidden; }
  .hero-3-images .startup-counter {
    position: absolute;
    z-index: -1;
    visibility: hidden; } }

.image-hero-2-images {
  width: 100%;
  min-height: 475px;
  display: inline-block;
  margin-bottom: 50px;
  position: relative; }
  .image-hero-2-images .image-1 {
    display: inherit;
    vertical-align: top;
    margin: 7em 6em 1em 1em;
    width: 2%; }
  .image-hero-2-images .text {
    margin: 5em 1em 1em 1em;
    vertical-align: top;
    display: inherit;
    width: 60%; }
  .image-hero-2-images .text p {
    max-width: 60%; }
  .image-hero-2-images .image-2 {
    display: inherit;
    margin: 2em 1em 1em 1em;
    width: 30%;
    position: absolute;
    bottom: 22%;
    right: 10%;
    z-index: -1; }
  .image-hero-2-images .image-3 {
    display: inherit;
    margin: 2em 1em 1em 1em;
    position: absolute;
    bottom: -10%;
    right: 40%;
    z-index: 0; }
  .image-hero-2-images .image-3 img {
    object-fit: cover;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    border: 3px;
    border-style: solid;
    border-color: #707070; }
  .image-hero-2-images .decoration-1 {
    display: inherit;
    position: absolute;
    width: 20%;
    top: 30%;
    right: 0;
    z-index: -1;
    animation-name: wobble;
    animation-duration: 5s;
    animation-iteration-count: infinite; }
  .image-hero-2-images .racetrack {
    display: inherit;
    width: 20%;
    position: absolute;
    right: 35%;
    top: 60%;
    z-index: -2; }

@media screen and (max-width: 1024px) {
  .image-hero-2-images .image-1 {
    margin: 7rem 3rem 1rem 1rem;
    width: 2%; }
  .image-hero-2-images .text p {
    max-width: 60%; } }

@media screen and (max-width: 800px) {
  .image-hero-2-images {
    min-height: 0px; }
    .image-hero-2-images .image-1 {
      margin: 3rem 1rem 1rem 0.5rem;
      width: 3%; }
    .image-hero-2-images .image-2 {
      right: 5%;
      top: 9rem; }
    .image-hero-2-images .image-3 {
      visibility: hidden;
      z-index: -1;
      top: 0;
      right: 0; }
    .image-hero-2-images .text {
      margin: 1rem;
      width: 80%; }
      .image-hero-2-images .text p {
        max-width: 50%; }
      .image-hero-2-images .text h2 {
        font-size: 22pt; }
    .image-hero-2-images .racetrack {
      visibility: hidden;
      z-index: -1;
      top: 0;
      right: 0; } }

@media screen and (max-width: 480px) {
  .image-hero-2-images {
    min-height: 450px;
    margin-bottom: 100px; }
    .image-hero-2-images .image-1 {
      visibility: hidden;
      z-index: -1;
      position: absolute; }
    .image-hero-2-images .text {
      margin: 1rem;
      width: 100%; }
      .image-hero-2-images .text p {
        max-width: unset; }
      .image-hero-2-images .text h2 {
        font-size: 15pt; }
    .image-hero-2-images .image-2 {
      display: inline-block;
      position: absolute;
      top: unset;
      right: unset;
      bottom: -20%;
      left: 0;
      width: 100%; } }

._3-post-preview {
  width: 100%;
  min-height: 700px;
  display: inline-block;
  margin-bottom: 100px;
  position: relative; }
  ._3-post-preview .text {
    margin: 1em 15% 1em 15%;
    vertical-align: top;
    display: inherit;
    width: 70%; }
  ._3-post-preview .text p {
    max-width: 560px; }
  ._3-post-preview .text h2 {
    font-size: 28px; }
  ._3-post-preview .preview {
    display: inherit;
    width: 100%; }
    ._3-post-preview .preview .listItem {
      width: 100%;
      background-color: #EAF2F9;
      padding-bottom: 1em; }
    ._3-post-preview .preview .imgWrap {
      padding: 0;
      display: block;
      border: 0px;
      border-bottom: 2px;
      border-color: blue;
      border-style: solid; }
  ._3-post-preview ul {
    list-style: none;
    margin: 0 auto 0 auto; }
  ._3-post-preview li {
    display: inline;
    float: left;
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0.8rem; }
  ._3-post-preview h3 {
    display: inline-block;
    color: #000000;
    text-decoration: none;
    margin: 0.5em 0 0.5em 0.5em;
    width: auto;
    font-size: 14pt; }
  ._3-post-preview p {
    display: inline-block;
    margin: 0.5em 0 0.5em 0;
    color: #707070;
    font-size: 12pt; }
  ._3-post-preview .cta {
    color: #FF0000;
    text-decoration: none;
    margin: 0.5em 0 0.5em 0.5em; }
  ._3-post-preview .decoration-1 {
    display: inherit;
    position: absolute;
    width: 15%;
    top: 60%;
    left: 0;
    z-index: -1;
    margin-left: -6em;
    animation-name: wobble;
    animation-duration: 6s;
    animation-iteration-count: infinite; }
  ._3-post-preview .image-1 {
    display: inherit;
    position: absolute;
    bottom: -15%;
    right: 5%;
    z-index: -1;
    margin-bottom: -5em; }
    ._3-post-preview .image-1 img {
      object-fit: cover;
      width: 15vw;
      height: 15vw;
      border-radius: 50%;
      border: 3px;
      border-style: solid;
      border-color: #707070; }

@media screen and (max-width: 1200px) {
  ._3-post-preview {
    min-height: 500px; }
    ._3-post-preview li {
      padding: 0.5rem; }
    ._3-post-preview .text {
      margin: 0;
      width: 80%; }
    ._3-post-preview .tag {
      visibility: collapse;
      position: absolute; }
    ._3-post-preview .image-1 {
      bottom: 0; } }

@media screen and (max-width: 768px) {
  ._3-post-preview {
    min-height: 500px; }
    ._3-post-preview .text h2 {
      font-size: 22px; }
    ._3-post-preview ul {
      width: 100%;
      height: auto; }
    ._3-post-preview li {
      width: 70%;
      display: block;
      margin-left: 10%; } }

@media screen and (max-width: 480px) {
  ._3-post-preview li {
    width: 100%;
    margin-left: 0; }
  ._3-post-preview .image-1 {
    bottom: 5%;
    right: 10%; }
  ._3-post-preview h3 {
    font-size: 12pt; } }

._5-post-preview {
  width: 100%;
  display: inline-block; }
  ._5-post-preview .text {
    margin: 1em 1em 1em 4em;
    vertical-align: top;
    display: inherit;
    width: 100%; }
    ._5-post-preview .text p {
      max-width: 50%; }
    ._5-post-preview .text h2 {
      max-width: 50%; }
  ._5-post-preview ul {
    display: flex;
    justify-content: center;
    width: auto;
    list-style: none;
    margin: auto; }
  ._5-post-preview li {
    display: inline;
    float: left;
    width: 17%;
    height: auto;
    padding: 0.5em;
    margin: 0 auto 0 auto; }
  ._5-post-preview h3 {
    text-decoration: none;
    margin: 0.5em 0 0.5em 0.5em;
    text-align: center; }
  ._5-post-preview .preview {
    display: inherit;
    width: 100%; }
    ._5-post-preview .preview .listItem {
      width: 100%;
      padding-bottom: 1em; }
    ._5-post-preview .preview .imgWrap {
      padding: 0;
      width: 100%;
      height: 100px;
      display: block; }
      ._5-post-preview .preview .imgWrap img {
        width: auto;
        height: 100px; }

@media screen and (max-width: 768px) {
  ._5-post-preview .text {
    margin: 1em 1em 1em 2em; }
    ._5-post-preview .text h2 {
      max-width: 70%; }
  ._5-post-preview ul {
    display: inline-block;
    margin-left: 12%; }
  ._5-post-preview li {
    display: none;
    width: 40%;
    height: 10rem;
    margin-bottom: 1rem; } }

.text-2-images {
  display: inline-block;
  width: 100%;
  min-height: 500px;
  position: relative; }
  .text-2-images .text {
    display: inherit;
    width: 30%;
    margin: 1em 1em 1em 2em; }
  .text-2-images .image-1 {
    width: 45%;
    margin: 2em 2em 1em 4em;
    float: right; }
    .text-2-images .image-1 img {
      object-fit: cover;
      width: 40vw;
      height: 25vw; }
  .text-2-images .image-2 {
    width: 20%;
    margin: 1em;
    display: inherit;
    position: absolute;
    top: 50%;
    right: 50%; }
    .text-2-images .image-2 img {
      object-fit: cover;
      width: 12vw;
      height: 12vw;
      border-radius: 50%;
      border: 3px;
      border-style: solid;
      border-color: #707070; }
  .text-2-images .image-2-right {
    width: 15%;
    margin: 1em;
    display: inherit;
    position: absolute;
    top: 60%;
    right: 0; }
  .text-2-images .image-2-right img {
    border-radius: 50%;
    border: 3px;
    border-style: solid;
    border-color: #707070; }

@media screen and (max-width: 1024px) {
  .text-2-images .text p {
    max-width: 100%; }
  .text-2-images .image-1 {
    margin: 6em 2em 1em 4em; }
  .text-2-images .image-2 {
    right: 45%; } }

@media screen and (max-width: 800px) {
  .text-2-images .text {
    margin: 1rem 1rem 1rem 1rem;
    width: 90%;
    float: left; }
  .text-2-images .image-1 {
    width: 50%;
    margin: 2em 2em 1em 2em;
    float: left; }
  .text-2-images .image-2 {
    right: 15%; }
    .text-2-images .image-2 img {
      width: 25vw;
      height: 25vw; } }

@media screen and (max-width: 480px) {
  .text-2-images .image-1 {
    width: 100%;
    margin: 0; }
    .text-2-images .image-1 img {
      width: 100%;
      height: auto; }
  .text-2-images .image-2 {
    visibility: hidden;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0; } }

._4-image-preview {
  display: inline-block;
  width: 100%;
  margin-bottom: 100px; }
  ._4-image-preview .text {
    width: 100%;
    min-height: 100px;
    margin-left: 4em; }
  ._4-image-preview ul {
    list-style: none;
    width: 100%; }
  ._4-image-preview li {
    display: inline-block;
    width: 23%;
    text-align: center; }
  ._4-image-preview .image {
    width: 100%;
    height: 80%; }
  ._4-image-preview img {
    height: 100%;
    width: auto; }

._2-columns {
  width: 100%;
  height: auto;
  padding: 0 auto 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center; }
  ._2-columns .column {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height: auto;
    margin: 0;
    padding: 1rem; }
  ._2-columns .image {
    width: 100%;
    height: 30%;
    margin: 0; }
  ._2-columns .image img {
    width: auto;
    height: 100%; }
  ._2-columns .text {
    width: 100%;
    height: 70%;
    margin: 0; }
  ._2-columns .bigImg {
    border: 2px;
    border-style: solid;
    border-color: #707070;
    border-radius: 50%; }

@media screen and (max-width: 480px) {
  ._2-columns {
    display: block; }
    ._2-columns .column {
      width: 90%; } }

._3-columns {
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center; }
  ._3-columns .column {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height: auto;
    margin: 0;
    padding: 1rem; }
  ._3-columns .image {
    width: 100%;
    height: 30%;
    margin: 0; }
  ._3-columns .image img {
    object-fit: cover;
    width: 5vw;
    height: 5vw; }
  ._3-columns .text {
    width: 100%;
    height: 70%;
    margin: 0; }

@media screen and (max-width: 480px) {
  ._3-columns {
    display: block; }
    ._3-columns .column {
      width: 90%; } }

.members-list {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0; }
  .members-list ul {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    flex-wrap: wrap; }
  .members-list li {
    display: inline-block;
    margin: 0;
    margin-bottom: 50px;
    flex-basis: 50%;
    width: 50%;
    height: 200px; }
  .members-list .image {
    display: inline-block;
    height: 10vw;
    width: 10vw; }
    .members-list .image img {
      border: 2px;
      border-style: solid;
      border-color: #0000ff;
      object-fit: cover;
      width: 100%;
      height: 100%; }
  .members-list .text {
    display: inline-block;
    vertical-align: top;
    padding-left: 1rem;
    height: auto;
    width: 65%; }
    .members-list .text strong {
      font-size: larger; }
    .members-list .text h3 {
      font-weight: 200;
      margin: 0.5em 0 0.5em 0; }

@media screen and (max-width: 1024px) {
  .members-list ul {
    display: inline-block; }
  .members-list li {
    width: 90%; } }

@media screen and (max-width: 480px) {
  .members-list li {
    width: 100%; } }
