/*
Theme Name: Open Incubator
Theme URI: "INSERT GREENHOUSE URL"
Author: Isabelle Sonke
Description: Open Incubator powered by Greenhouse
Version: 0.1
*/

/*------------------HTML tag definitions------------------*/
@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}

a{
    color: rgb(0,0,255);
    font-weight: 500;
    font-family: inherit;
    text-decoration: none!important;
    
}




ul{
    list-style: none;
}

li{
    color:black;
    display: inline;

}

img{
    display: block;
    height: auto;
    width: 100%;
    margin: 0 auto 0 auto;
}

button{
    background-color:white;
    color: red;
    text-decoration: underline;
    font-size: medium;
    border-style: none;
    font-family: inherit;
    font-weight: 200;
}

button:hover{
    background-color:red;
    color: white;
    border-color: white;
}

/*---------tables-------------*/
table, th, td{
    border: 2px;
    border-style: solid;
    border-color: rgb(0,0,255);
    border-collapse: collapse;
}
table {
    width: 100%;
    border: 0px;
}

/*----------forms----------*/

.ginput_container{
    margin-bottom: 50px;
}

input{
    border:0;
    border-bottom: 2px;
    border-color: #000000;
    border-style: solid;
}

input[type=file]{
    border:0;
}

input[type=submit]{
    width: 250px;
    height: 75px;
    background-color: #0000ff;
    color: #ffffff;
    font-size: larger;
    font-weight: 600;
}

body {
	height: 100%;
    display: grid;
        grid-template-columns: 5% 20% 25% 25% 20% 5%;
        grid-template-rows: 75px auto auto auto auto auto auto auto 100px auto;

    background-color: white;

    font-family: Montserrat, Roboto, sans-serif;;
}

/*-----------------Header Menu-------------------------*/
.menuWrap {
    grid-column: 1/7;
    grid-row: 1/2;
    border: 0px;
    border-bottom: 2px;
    border-style: solid;
    border-color: rgb(0,0,255);

    box-shadow: 0 3px 2px -2px grey;
}

.headerLogo {
    display: inline-block;
    padding: 1em;
    width: 300px;
    height: auto;
    margin: -10px 0 0 100px;
    vertical-align: middle;
}
.menu-header-container {
    width: auto;
    height: auto;
    margin: 0 150px 2rem 0em;
    float: right;
}



.menu{
    list-style: none;
}

.menu-item{
    display: inline;
    margin-left: 50px;
    width: fit-content;
}

.menu-item a{
    color: black;
    text-decoration: none;
}

/*------------------Footer menu------------------------*/
.menu-footer-container {
    grid-column: 1/7;
    grid-row: 9/10;

    border: 0px;
    border-top: 2px;
    border-color: rgb(0,0,255);
    border-style: solid;
    background-color: #EAF2F9;

}
/*---------------post list pages-------------------*/

.postList{
    display: inline-block;
    width: 85%;
}

.postList ul{
    margin: none;
    list-style: none;
    width: 100%;
}
.postList div{
    width: 100%;
    background-color: #EAF2F9;
    padding-bottom: 1em;
}

.postList li{
    display: inline;
    width: 30%;
    float: left;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 3em;
    height: 300px;
}
.postList img {
    display: block;
    width: 100%;
    border: 0px;
    border-bottom: 1px;
    border-color: rgb(0,0,255);
    border-style: solid;

}

.postList h3, .postList p{
    display: inline;

}

.postList h3{
    color: #000000;
    text-decoration: none;
    margin: 0.5em 0 0.5em 0.5em;
    
}
.postList p{
    color: #707070;
}

.postList .cta{
    color: #FF0000;
    text-decoration: none;
    margin: 0.5em 0 0.5em 0.5em;
    display: block;
}

.postFilter{
    display: inline-block;
    padding: 0;
    margin: 20px 0 0 0;
    vertical-align: top;
}

.postFilter ul {
    width: 150px;
    padding-left: 0;
}

.postFilter button{
    text-decoration: none;
    color: #000000;
}

/*--------------------------Single Post------------------------*/

.acf-fields {
    grid-column:2/6;
    grid-row: 2/3;
    padding:1em 4em 1em 4em;
}

.startup-title {
    width: 100%;
    margin-bottom: 1em;
}

.startup-title h3 {
    color: #000000;
}

.startup-image {
    width: 70%;
    display: inline-block;

}

.startup-image img{
    width: 100%;
    height: auto;
}

.startup-info {
    width: 25%;
    padding:none;
    display: inline-block;
    vertical-align:top;
}

.startup-content {
    grid-column: 2/6;
    grid-row: 3/5;
    padding:1em 4em 1em 4em;
}



/*------------------------------------single page------------------------------------*/
.content {
    grid-column: 2/6;
    grid-row: 2/3;
    padding:1em;
    margin: 0 3em 0 3em;
}

/*----------------------connect block------------------*/

.connect{
    display: block;
    width: 100%;
    grid-column: 2/6;
    grid-row: 8/9;
    position:relative;
;
    width: 100%
}

.connect .wrap {
    float: right;
    margin: 4em 0em 4em 4em;
    position: relative;
    padding: 2em;
}

.connect button {
    border-radius: 0;
    padding: 1em 7em 1em 7em;
    color: rgb(0,0,255);
    text-decoration: none;
    text-align: center;
    font-size: 15pt;
    font-weight: 600;

    border: 3px;
    border-style: solid;
    border-color: rgb(0,0,255);

    box-shadow: 5px 5px 4px grey;
}

.connect button:hover{
    color: #ffffff;
    background-color: rgb(0,0,255);
    border-color: #000000;
}


.connectImg {
    width: 5em;
    position: absolute;
    top: 0;
    left: 0;

}

.connectImg img {
    width: 100%;
}

.connect .lineAnimation {
    display: block;
    position: absolute;
    right: 15%;
    margin-top: 140px;
    width: 250px;
    height: 5px;
    background-color:red;
    z-index: -1;
    animation-name: translateRight;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes translateRight {
    0% {right:15%;}
    100% {right:-15%;}
}

.connect .decoration-1 {
    position: absolute;
    width: 20%;
    bottom: 0;
    left: 0;
    animation-name: wobble;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
/*----------------------------------------forms--------------------------------*/

.formImage img{
    position: absolute;
    width: 25%;
}

/*--------------------------------text-3-images block------------------------*/

.hero-3-images {
    width: 100%;
    min-height:500px;
    display: inline-block;
    margin-bottom: 50px;
    position: relative;
}

.hero-3-images .text {
    margin: 6em 1em 1em 4em;
    vertical-align: top;
    display: inherit;
    width: 45%;
}
.hero-3-images .text  p{
    max-width: 70%;
}

.hero-3-images .image-1 {
    margin: 1rem 1rem 1rem 2rem;
    display: inherit;
    width: 40%;
}

.hero-3-images .image-2 {
    display: inherit;
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 12%;

}
.hero-3-images .image-2 img{
    border-radius: 50%;
    border: 2px;
    border-color: #707070;
    border-style: solid;
}

.hero-3-images .image-3 {
    display: inherit;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20%;
}
.hero-3-images .image-3 img{
    border-radius: 50%;
    border: 2px;
    border-color: #707070;
    border-style: solid;
}

.hero-3-images .decoration-1{
    display: inherit;
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 15%;
    margin-left: -50px;
    z-index: -1;
    animation-name: wobble;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.hero-3-images .decoration-2{
    display: inherit;
    position: absolute;
    bottom: 0;
    left: 35%;
    width: 20%;
    z-index: -1;
    animation-name: wobble;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.hero-3-images .startup-counter {
    display: inherit;
    position: absolute;
    bottom: 0;
    left: 65%;
    width: 80px;
    height: 150px;
    margin-bottom: -75px;
    z-index: 1;

    text-align: center;
    font-weight: lighter;
    font-size: smaller;
    color:#707070;
}

.hero-3-images .startup-amount {
    display: block;
    left: 65%;
    width: 100%;
    height: 50%;

    background-color: #EAF2F9;
    border-radius: 50%;
    text-align: center;
    padding-bottom: 8px;

    border: 2px;
    border-color: #707070;
    border-style: solid;
}
.hero-3-images .startup-counter h2{
    padding: 0;
    margin: 0;
    margin-top: 0.5em;
}


.hero-3-images .racetrack {
    display: inherit;
    width: 20%;
    position: absolute;
    right: 20%;
    top: 60%;
    z-index: -1;
}
/*-----------------text-2-images block------------------------*/

.image-hero-2-images {
    width: 100%;
    min-height: 475px;
    display: inline-block;
    margin-bottom: 50px;
    position: relative;
}

.image-hero-2-images .image-1 {
    display: inherit;
    vertical-align: top;
    margin: 7em 6em 1em 1em;
    width: 1%;
}

.image-hero-2-images .text {
    margin: 5em 1em 1em 1em;
    vertical-align: top;
    display: inherit;
    width: 60%;
}
.image-hero-2-images .text p {
    max-width: 400px;
}

.image-hero-2-images .image-2 {
    display: inherit;
    margin: 2em 1em 1em 1em;
    width: 30%;
    position: absolute;
    top: 0;
    right: 22%;
    z-index: -1;
}

.image-hero-2-images .image-3 {
    display: inherit;
    margin: 2em 1em 1em 1em;
    width: 16%;
    position: absolute;
    bottom: 0;
    right: 45%;
    z-index: 0;    
}

.image-hero-2-images .image-3  img{
    border-radius: 50%;
    border: 3px;
    border-style: solid;
    border-color: #707070;
}

.image-hero-2-images .decoration-1 {
    display: inherit;
    position: absolute;
    width: 20%;
    top: 30%;
    right: 0;
    z-index: -1;
    animation-name: wobble;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.image-hero-2-images .racetrack {
    display: inherit;
    width: 20%;
    position: absolute;
    right: 35%;
    top: 60%;
    z-index: -2;
}

/*-----------------------3 post preview--------------------------*/

._3-post-preview {
    width: 100%;
    min-height: 700px;
    display: inline-block;
    margin-bottom: 50px;
    position: relative;
}

._3-post-preview .text {
    margin: 1em 15% 1em 15%;
    vertical-align: top;
    display: inherit;
    width: 70%;
}

._3-post-preview .text p {
    max-width: 560%;
}
._3-post-preview .text h2 {
    font-size: 28px;
}
._3-post-preview .preview{
    display: inherit;
    width: 100%;;
}

._3-post-preview .preview .listItem{
    width: 100%;
    background-color: #EAF2F9;
    padding-bottom: 1em;
}

._3-post-preview ul{
    list-style: none;
    margin: auto;
}

._3-post-preview li{
    display: inline;
    float: left;
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}


._3-post-preview .preview .imgWrap {
    padding: 0;
    display: block;
    border: 0px;
    border-bottom: 2px;
    border-color: rgb(0,0,255);
    border-style: solid;
}


._3-post-preview h3{
    display: inline-block;
    color: #000000;
    text-decoration: none;
    margin: 0.5em 0 0.5em 0.5em;
    width: auto;
}

._3-post-preview p{
    display: inline-block;
    margin: 0.5em 0 0.5em 0;
    width: 40%;
    color:#707070;
    font-size: 12pt;
}
._3-post-preview .cta{
    color: #FF0000;
    text-decoration: none;
    margin: 0.5em 0 0.5em 0.5em;
}

._3-post-preview .decoration-1 {
    display: inherit;
    position: absolute;
    width: 15%;
    top: 60%;
    left: 0;
    z-index: -1;
    margin-left: -6em;
    animation-name: wobble;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

._3-post-preview .image-1 {
    display: inherit;
    position: absolute;
    width: 20%;
    bottom: 0;
    right: 5%;
    z-index: -1;
    margin-bottom: -5em;
}

._3-post-preview .image-1 img{
    border-radius: 50%;
    border: 3px;
    border-style: solid;
    border-color: #707070;
}

/*-----------------------5 post preview--------------------------*/

._5-post-preview {
    width: 100%;
    display: inline-block
}

._5-post-preview .text {
    margin: 1em 1em 1em 4em;
    vertical-align: top;
    display: inherit;
    width: 100%;
}

._5-post-preview .text p {
    max-width: 50%;
}
._5-post-preview .text h2 {
    max-width: 50%;
}
._5-post-preview .preview{
    display: inherit;
    width: 100%;;
}

._5-post-preview .preview .listItem{
    width: 100%;
    padding-bottom: 1em;
}

._5-post-preview ul{
    display: inline-block;
    width: auto;
    list-style: none;
    margin: auto;
}

._5-post-preview li{
    display: inline;
    float: left;
    width: 17%;
    height: auto;
    padding: 1em;
}

._5-post-preview .preview .imgWrap {
    padding: 0;
    width: 100%;
    height: 100px;
    display: block;
}

._5-post-preview .preview .imgWrap img{
    width: auto;
    height: 100%;
}

._5-post-preview h3{
    text-decoration: none;
    margin: 0.5em 0 0.5em 0.5em;
    text-align: center;
}

/*--------------text + 2 image---------------*/

.text-2-images{
    display: inline-block;
    width: 100%;
    min-height: 500px;
    position: relative;
}

.text-2-images .text {
    display: inherit;
    width: 30%;
    margin: 1em 1em 1em 4em;
}

.text-2-images .image-1 {
    width: 45%;
    margin: 2em 2em 1em 4em;
    float: right;
}

.text-2-images .image-2 {
    width: 20%;
    margin: 1em;
    display: inherit;
    position: absolute;
    top: 50%;
    right: 40%;
}

.text-2-images .image-2-right {
    width: 15%;
    margin: 1em;
    display: inherit;
    position: absolute;
    top: 60%;
    right: 0;
}

.text-2-images .image-2 img{
    border-radius: 50%;
    border: 3px;
    border-style: solid;
    border-color: #707070;
}

.text-2-images .image-2-right img{
    border-radius: 50%;
    border: 3px;
    border-style: solid;
    border-color: #707070;
}

/*----------------4 image preview block------------*/

._4-image-preview {
    display: inline-block;
    width: 100%;
    margin-bottom:100px;

}

._4-image-preview .text {
    width: 100%;
    min-height: 100px;
    margin-left: 4em;
}

._4-image-preview ul {
    list-style: none;
    width: 100%;
}

._4-image-preview li {
    display: inline-block;
    width: 23%;
    text-align: center;
}

._4-image-preview .image {
    width: 100%;
    height: 80%;
}

._4-image-preview img {
    height: 100%;
    width: auto;
}

/*----------racetrack block--------------*/

.racetrack {
    margin-top: 50px;
    display: inline-block;
    width: 100%;
    position: relative;
}

.racetrack .racetrack-graph {
    display: inline-block;
    width: 55%;
    height: 1000px;
    position: relative;
    vertical-align: top;
    margin-top: 100px;
}

.racetrack .racetrack-table {
    display: inline-block;
    width: 25%;
    height: 1000px;
    
}
.racetrack .racetrack-table table{
    display:inline-block;
    width: 100%;
    margin: 0;
    margin-top: 4em;
    background-color: #ffffff;
}

.racetrack .background-image {
    display: block;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    margin: 2em;

}

.racetrack .racetrack-table .table h2{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 5px;
}

.racetrack .racetrack-table h3{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 5px;
}
.racetrack .racetrack-table p{
    padding-left: 5px;
    font-size: 10pt;
}
.racetrack-table .image{ 
    background-color: #EAF2F9;
}
.racetrack .phase-heading {
    height: 50%;
    width: 100%;

    background-color: #EAF2F9;
    text-align: center;

    border: 2px;
    border-color: rgb(0,0,255);
    border-style: solid;
}
.racetrack .phase-heading h2{
    margin-top: 8%;
    margin-bottom: auto;
}

.racetrack .phase-summary {
    height: auto;
    width: 100%;

    background-color: #ffffff;


    border: 2px;
    border-color: #707070;
    border-style: solid;
}

.racetrack .phase-summary p{
    margin-left: 5px;
    font-size: 10pt;
}

.racetrack .phase-1{
    position: absolute;
    left: 55%;
    top: 20%;
    width: 240px;
    height: 150px;
}

.racetrack .phase-2{
    position: absolute;
    left: 55%;
    top: 47%;
    width: 240px;
    height: 150px;
}
.racetrack .phase-3{
    position: absolute;
    left: -2%;
    top: 35%;
    width: 240px;
    height: 150px;
}
.racetrack .phase-4{
    position: absolute;
    left: 10%;
    top: 10%;
    width: 240px;
    height: 150px;
}

.racetrack .previous, .racetrack .next {
    display: inline-block;
    vertical-align: top;
    height: 60px;
    width: 60px;
    margin: 1em;
    margin-top: 500px;
    background-color: #EAF2F9;
}

.previous h2, .next h2 {
    margin: 5px 5px 5px 5px;
    text-align: center;
    color: #ff0000;
    font-weight: 100;
}

/*---------------3 columns-----------------------*/
._3-columns{
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 1rem;
}

._3-columns .column{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height: auto;
    margin: 0;
    padding: 1rem;
}

._3-columns .image{
    width: 100%;
    height: 30%;
    margin: 0;
}

._3-columns .image img{
    width: auto;
    height: 100%;
}
._3-columns .text{
    width: 100%;
    height: 70%;
    margin: 0;
}

/*---------------2 columns-----------------------*/
._2-columns{
    width: 100%;
    height: auto;
    padding: 0 auto 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

._2-columns .column{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height: auto;
    margin: 0;
    padding: 1rem;
}

._2-columns .image{
    width: 100%;
    height: 30%;
    margin: 0;
}

._2-columns .image img{
    width: auto;
    height: 100%;
}
._2-columns .text{
    width: 100%;
    height: 70%;
    margin: 0;
}

._2-columns .bigImg{
    border: 2px;
    border-style: solid;
    border-color: #707070;
    border-radius: 50%;
}

/*----------team members--------------*/

.members-list{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.members-list ul{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 auto 0 auto;
}

.members-list li{
    display: inline-block;
    margin:0;
    width: 45%;
    height: 200px;
}

.members-list .image{
    display: inline-block;
    height: 100%;
    width: 30%;
}

.members-list .image img{
    border: 2px;
    border-style: solid;
    border-color: #0000ff;
}

.members-list .text{
    display: inline-block;
    vertical-align: top;
    padding-left: 1rem;
    height: 100%;
    width: 65%;
}

.members-list .text strong{
    font-size: larger; 
}

.members-list .text h3{
    font-weight: 200;
    margin: 0.5em 0 0.5em 0; 
}

/*----------------animations---------------------*/

@keyframes wobble {
    0%{margin: 0; transform: rotate(0deg);}
    50%{margin: 0 0 0 15px; transform: rotate(10deg);}
    100%{margin: 0; transform: rotate(0deg);}
}

