@import '../boilerplate/_mixins.scss';

.showFilter {
    display: none;
}


.postFilter{
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0;
    margin: 20px 0 0 0;
    display: block;


    ul {
        padding-left: 0;
        .cat-item{
            display: block;
            a {
                text-decoration: none;
                color: #000000;
            }
            a:hover {
                text-decoration: none;
                color: #000000;
                background-color: red;
            }
            
            
            

        }
        .children {
            margin-left: 5px;
            border-left: 2px solid black;
            padding-left: 5px;
        }
    }
}

.postList {
    position: relative;
    grid-column: 2/6;
    grid-row: 1/2;

    display: flex;
    flex-wrap: wrap;

    .post {
        position: relative;
        flex-basis: 30%;
        height: 400px;
        margin: 1rem;

        img {
            position: inherit;
            object-fit: cover;
            height: 85%;
            width: 80%;

        }

        .description {
            position: absolute;
            top: 70%;
            right:0;

            min-width: 55%;
            padding: 0.5rem;
            margin: 1rem;

            background-color: $lightblue;
            color:#000000;

            .tags {
                margin: 0;
            }

            .cta {
                margin: 0;
                text-decoration: underline;
                font-weight: 800;
            }
        }
    }

    .post:hover img{
        animation-name: brightness_animation;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    .post:hover .description {
        animation-name: position_shift;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    @keyframes brightness_animation {
        from{filter: brightness(100%);}
        to{filter: brightness(70%);}
    }

    @keyframes position_shift {
        from{transform: translate(0,0);}
        to{transform: translate(10px,10px);}
    }
  
}

@media screen and (max-width: 1024px) {
    .postList {
        .post {
            flex-basis: 45%;
        }
    }
}

@media screen and (max-width: 800px) {
    .postList {
        .post {
            flex-basis: 100%;
        }
    }

    .showFilter {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
    }

    .postFilter{
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 9999;

        width: auto;

        grid-column: unset;
        grid-row: unset;
    
        background-color: white;
    }
}
