
.postList{
    display: inline-block;
    width: 78%;


    ul{
        margin: none;
        list-style: none;
        width: 100%;
    }
    div{
        width: 100%;
        background-color: #EAF2F9;
        padding-bottom: 1em;
    }

    li{
        display: inline;
        width: 30%;
        float: left;
        padding: 0.5em;
        margin-top: 1em;
        margin-bottom: 3em;
        height: 300px;
    }
    img {
        display: block;
        width: 100%;
        border: 0px;
        border-bottom: 1px;
        border-color: rgb(0,0,255);
        border-style: solid;

    }

    h3, p{
        display: inline;

    }

   h3{
        color: #000000;
        text-decoration: none;
        margin: 0.5em 0 0.5em 0.5em;
        
    }
    p{
        color: #707070;
    }

    .cta{
        color: #FF0000;
        text-decoration: none;
        margin: 0.5em 0 0.5em 0.5em;
        display: block;
    }
}

@media screen and (max-width: 1300px) {
    .postList{
        ul{
            margin-left: 10%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .postList{
        li{
            width: 45%;
        }
    }
}

@media screen and (max-width: 768px) {
    .postList{
        ul{
            margin-left: 10%;
        }
    }
}

@media screen and (max-width: 480px) {
    .postList{
        li{
            width: 80%;
            min-height: 150px;
            height: auto;
            margin-left: 6%;
            margin-top: 0.25em;
            margin-bottom: 1em;
        }
    }
}

