.solution-header {
    grid-column: 1/3;
    grid-row: 1/2;

    button {
        margin-top: 1rem;
    }

    .taxonomies {
        margin-top: 5rem;
    }

    h1 {
        margin: 0;
    }
}

.solution-thumbnail {
    grid-column: 3/5;
    grid-row:1/2;

    padding: 2rem;
    img {
        width: 100%;
        height: 100%;
    }
}

.solution-situation {
    grid-column: 1/5;
    grid-row: 2/3;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;

    margin-top: 100px;

    h2 p {
        max-width: 300px;
    }
}

.column {
    grid-column: 1/5;
    grid-row: 3/4;

    display: flex;

    margin-top: 100px;
    margin-bottom: 100px;

    .solution-challenge {
        flex-basis: 50%;
        padding: 1rem;
        h2 p {
            max-width: 300px;
        }
        
    }
    .solution-concept {
        flex-basis: 50%;
        padding: 1rem;
        h2 p {
            max-width: 300px;
        }
    }
}

@media screen and (max-width: 800px) {
    .solution-thumbnail {
        grid-column: 1/5;
        grid-row:2/3;
    }
    .solution-header {
        grid-column: 1/5;
        grid-row: 1/2;
    }
    .solution-situation {
        grid-column: 1/5;
        grid-row: 3/4;
        justify-content: left;
        padding-left: 1rem;
    }
    .column {
        grid-column: 1/5;
        grid-row: 4/5;
   
        .solution-challenge {
            flex-basis: 100%;  
        }
        .solution-concept {
            flex-basis: 100%;
        }
    }
}