/*
Theme Name: Open-Incubator
Author: Isabelle Sonke
*/

@import '_mixins.scss';

@font-face {
    font-family: 'Poppins-light';
    src: url(../fonts/Poppins-Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: 'Poppins-regular';
    src: url(../fonts/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins-medium';
    src: url(../fonts/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins-bold';
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: 700;
}

a {
    margin: 0;
}

h1{
    color: $blue;
    font-family: 'Poppins-bold';
    font-size: 30pt;
}

h2{
    color: $blue;
    font-family: 'Poppins-bold';
	font-size: 25pt;
}

h3{
    color: $blue;
    font-family: 'Poppins-medium';
    font-size: 16pt;

}

h4{
    color: $blue;
    font-family: 'Poppins-medium';
    font-size: 14pt;
    margin: 0;
}

p{
    font-family: 'Poppins-regular';
	word-wrap: break-word;
    font-size: 12pt;
}

a{
    color: $blue;
    font-family: 'Poppins-regular';
    text-decoration: none!important;

}

ul{
    list-style: none;
    padding-inline-start: 0px;
}

li{
    color:black;
    display: inline;

}

img{
    display: block;
    height: auto;
    width: 100%;
    margin: 0 auto 0 auto;
}

button{
    background-color:white;
    color: red;
    text-decoration: underline;
    font-size: medium;
    border-style: none;
    font-family: inherit;
    font-weight: 200;
}

button:hover{
    background-color:red;
    color: white;
    border-color: white;
}

table, th, td{
    border: 2px;
    border-style: solid;
    border-color: $blue;
    border-collapse: collapse;
}
table {
    width: 100%;
    border: 0px;
}


body {
  	height: 100%;
      display: grid;
          grid-template-columns: 5% 20% 25% 25% 20% 5%;
          grid-template-rows: auto auto auto auto auto 100px auto;

    background-color: white;
    margin: 0;
    font-family: Poppins, Roboto, sans-serif;
}

.content {
    grid-column: 2/6;
    grid-row: 2/3;
}

.content-archive {
    grid-column: 2/6;
    grid-row: 2/3;
    position: relative;
    display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: auto;
}

.content-single {
    grid-column: 2/6;
    grid-row: 2/3;

    display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto, auto, auto;
}

@media screen and (max-width: 1200px) {
    .content-archive {
        grid-column: 2/6;
        grid-row: 2/3;
    
        display: grid;
            grid-template-columns: 12% 22% 22% 22% 22%;
            grid-template-rows: auto;
    }
}

@media screen and (max-width: 1200px) {
    .content {
        margin: 0 1em 0 1em;
    }

    h3 {
        font-size: 10pt;
    }

    p {
        font-size: 8pt;
    }
}

@media screen and (max-width: 1024px) {
    body {
        display: grid;
            grid-template-columns: 1% 24% 25% 25% 24% 1%;
            grid-template-rows: auto auto auto auto auto 100px auto;
    }

    .content {
        grid-column: 2/6;
        grid-row: 2/3;
        padding:1em;
        margin: 0 1em 0 1em;
    }
}

@media screen and (max-width: 768px) {
    body {
        display: grid;
            grid-template-columns: 5% 20% 25% 25% 20% 5%;
            grid-template-rows: 150px auto auto auto auto auto auto auto 100px auto;
    }
}

@media screen and (max-width: 480px) {
    h2 {
        font-size: 18pt;
    }

    p {
        font-size: 10pt;
    }
}