@import '../boilerplate/_mixins';

.connect{
    display: block;
    width: 100%;
    grid-column: 2/6;
    grid-row: 5/6;
    position:relative;
    width: 100%;


    .wrap {
        float: right;
        //margin: 4em 0em 4em 4em;
        position: relative;
        padding: 2em;
        width: 50%;
    }

    button {
        border-radius: 0;
        padding: 1em 7em 1em 7em;
        word-break: keep-all;
        color: $blue
;
        text-decoration: none;
        text-align: center;
        font-size: 15pt;
        font-weight: 600;

        border: 3px;
        border-style: solid;
        border-color: $blue
;

        box-shadow: 5px 5px 4px grey;
    }

    button:hover{
        background-color: $lightblue
;
    }

    .lineAnimation {
        display: block;
        position: absolute;
        right: 15%;
        margin-top: 140px;
        width: 250px;
        height: 5px;
        background-color:red;
        z-index: -1;
        animation-name: translateRight;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .decoration-1 {
        position: absolute;
        width: 20%;
        bottom: 0;
        left: 0;
        animation-name: wobble;
        animation-duration: 7s;
        animation-iteration-count: infinite;
    }
}

.connectImg {
    width: 5em;
    position: absolute;
    top: 0;
    left: 0;

    .connectImg img {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .connect {
        button {
            padding: 1rem 30% 1rem 30%;
            width: max-content;
        }
    }
}