@import '../boilerplate/_mixins';

.menu-footer-container {
    grid-column: 1/7;
    grid-row: 6/7;

    border: 0px;
    border-top: 2px;
    border-color: $blue
;
    border-style: solid;
    background-color: $lightblue
;

}

@media screen and (max-width: 768px) {
    .menu-footer-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .menu-footer-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
