@import '../boilerplate/_mixins';

.menuWrap {
    grid-column: 1/7;
    grid-row: 1/2;
    border: 0px;
    border-bottom: 2px;
    border-style: solid;
    border-color: $blue;

    box-shadow: 0 3px 2px -2px grey;

    .primaryMenu {
        display: flex;
        justify-content: left;

        .logo {
            width: 20%;
            margin: 0 0 0 10px;
        }

        .menu-header-container {
            width: 80%;
            display: flex;
            justify-content: right;
        }
    }

    .mobile-menu {
        display: none;
        .showMenu {
            display: none;
        }
 
        .menu-mobile-header-menu-container {
            display: none;
        }
    }
}

.menu-item {
    display: inline;
    margin: 0 25px;
    width: fit-content;

    a {
    color: black;
    text-decoration: none;
    }

}



.menu-item-has-children {
    position: relative;
    > .sub-menu {
        //font-size: 0.8em;
        margin: 1rem 0 1rem 3rem;
    }

    .sub-menu {
        position: absolute;
        top: 100%;
        background-color: $lightblue
;
        padding: 0.5rem 1.5rem 1rem;
        left: 0;
        margin-left: 0;
        display: none;
        font: 1em;
        margin-top: 0;
        z-index: 1000;

        .menu-item {
            line-height: 2;
            white-space: nowrap;
        }
    }
    &:focus,
    &:hover {
        cursor: pointer;
        .sub-menu {
            display: block;
        }
    }
    

}

@media screen and (max-width: 1024px) {
    .menuWrap {
        position: relative;
        .primaryMenu {
            display: none;
    
            .logo {
                display: none;
            }
    
            .menu-header-container {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }

        .mobile-menu {
            position: relative;
            display: flex;
            justify-content: center;

            .showMenu {
                display: block;
                position: absolute;
                top: -55px;
                left: 0;
                z-index: 2;
                padding: 1em;
            }

            .menu-mobile-header-menu-container {
                position: absolute;
                top:50px;;
                left:0;
                width: 100%;
                z-index: 99999999;
                background-color: $lightblue;

                li {
                    display: block;
                    width: 100%;
                    text-align: center;
                    padding: 1em;
                    margin: 0;
                }
            }

            
        }
    }
}