.racetrack {
    margin-top: 50px;
    display: inline-block;
    width: 100%;
    position: relative;


    .racetrack-graph {
        display: inline-block;
        width: 55%;
        height: 1000px;
        position: relative;
        vertical-align: top;
        margin-top: 100px;
    }

    .racetrack-table {
        display: inline-block;
        width: 25%;
        height: 1000px;
        
    
        table{
            display:inline-block;
            width: 100%;
            margin: 0;
            margin-top: 4em;
            background-color: #ffffff;
        }

        .table h2{
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            padding-left: 5px;
        }

        h3{
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            padding-left: 5px;
        }
        p{
            padding-left: 5px;
            font-size: 10pt;
        }
        .image{ 
            background-color: $lightblue
;
        }
    }

    .background-image {
        display: block;
        width: 100%;
        position: absolute;
        top:0;
        left: 0;
        z-index: -1;
        margin: 2em;

    }

    .phase-heading {
        height: 50%;
        width: 100%;
        background-color: $lightblue
;
        text-align: center;
        border: 2px;
        border-color: rgb(0,0,255);
        border-style: solid;
    
       h2{
            margin-top: 8%;
            margin-bottom: auto;
        }
    }

    .phase-summary {
        height: auto;
        width: 100%;
        background-color: #ffffff;
        border: 2px;
        border-color: #707070;
        border-style: solid;
    

        p{
            margin-left: 5px;
            font-size: 10pt;
        }
    }

    .phase-1{
        position: absolute;
        left: 55%;
        top: 20%;
        width: 240px;
        height: 150px;
    }

    .phase-2{
        position: absolute;
        left: 55%;
        top: 47%;
        width: 240px;
        height: 150px;
    }
    .phase-3{
        position: absolute;
        left: -2%;
        top: 35%;
        width: 240px;
        height: 150px;
    }
    .phase-4{
        position: absolute;
        left: 10%;
        top: 10%;
        width: 240px;
        height: 150px;
    }

   .previous, .next {
        display: inline-block;
        vertical-align: top;
        height: 60px;
        width: 60px;
        margin: 1em;
        margin-top: 500px;
        background-color: $lightblue
;
    }
}

.previous h2, .next h2 {
    margin: 5px 5px 5px 5px;
    text-align: center;
    color: #ff0000;
    font-weight: 100;
}
