._2-columns{
    width: 100%;
    height: auto;
    padding: 0 auto 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;

    .column{
        display: inline-block;
        vertical-align: top;
        width: 30%;
        height: auto;
        margin: 0;
        padding: 1rem;
    }

    .image{
        width: 100%;
        height: 30%;
        margin: 0;
    }

    .image img{
        width: auto;
        height: 100%;
    }
    .text{
        width: 100%;
        height: 70%;
        margin: 0;
    }

    .bigImg{
        border: 2px;
        border-style: solid;
        border-color: #707070;
        border-radius: 50%;
    }
}
@media screen and (max-width: 480px) {
    ._2-columns {
      display: block;
      .column {
          width: 90%;
      }
      
    }
}