._3-columns{
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;

   .column{
        display: inline-block;
        vertical-align: top;
        width: 30%;
        height: auto;
        margin: 0;
        padding: 1rem;
    }

    .image{
        width: 100%;
        height: 30%;
        margin: 0;
    }

    .image img{
        object-fit: cover;
        width: 5vw;
        height: 5vw;

    }
    .text{
        width: 100%;
        height: 70%;
        margin: 0;
    }
}
@media screen and (max-width: 480px) {
    ._3-columns {
      display: block;
      .column {
          width: 90%;
      }
      
    }
}