._3-post-preview {
    width: 100%;
    min-height: 700px;
    display: inline-block;
    margin-bottom: 100px;
    position: relative;


    .text {
        margin: 1em 15% 1em 15%;
        vertical-align: top;
        display: inherit;
        width: 70%;
    }

    .text p {
        max-width: 560px;
    }
    .text h2 {
        font-size: 28px;
    }
    .preview{
        display: inherit;
        width: 100%;

    

        .listItem{
            width: 100%;
            background-color: #EAF2F9;
            padding-bottom: 1em;
        }

        .imgWrap {
            padding: 0;
            display: block;
            border: 0px;
            border-bottom: 2px;
            border-color: rgb(0,0,255);
            border-style: solid;
            

            img {
                object-fit: cover;
                height: 25vw;
                width: 100%;
            }
        }

    }

    ul{
        list-style: none;
        margin: 0 auto 0 auto;
        
    }

    li{
        display: inline;
        float: left;
        width: 30%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 0.8rem;
    }

    h3{
        display: inline-block;
        color: #000000;
        text-decoration: none;
        margin: 0.5em 0 0.5em 0.5em;
        width: auto;
        font-size: 14pt;
    }

    p{
        display: inline-block;
        margin: 0.5em 0 0.5em 0;
        color:#707070;
        font-size: 12pt;
    }
    .cta{
        color: #FF0000;
        text-decoration: none;
        margin: 0.5em 0 0.5em 0.5em;
    }

    .decoration-1 {
        display: inherit;
        position: absolute;
        width: 15%;
        top: 60%;
        left: 0;
        z-index: -1;
        margin-left: -6em;
        animation-name: wobble;
        animation-duration: 6s;
        animation-iteration-count: infinite;
    }

    .image-1 {
        display: inherit;
        position: absolute;
        bottom: -15%;
        right: 5%;
        z-index: -1;
        margin-bottom: -5em;
    

        img{
            object-fit: cover;
            width: 15vw;
            height: 15vw;
            border-radius: 50%;
            border: 3px;
            border-style: solid;
            border-color: #707070;
        }
    }
}

@media screen and (max-width: 1200px) {
    ._3-post-preview {
        min-height: 500px;
        li{
            padding: 0.5rem;
        }
        .text{
            margin: 0;
            width: 80%;
        }
        .tag {
            visibility: collapse;
            position: absolute;
        }

        .image-1 {

            bottom: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    ._3-post-preview {
        min-height: 500px;
        .text h2 {
            font-size: 22px;
        }
        ul {
            width: 100%;
            height: auto;
            
        }
        li{
            width: 70%;
            display: block;
            margin-left: 10%;
        }
        
    }
}

@media screen and (max-width: 480px) {
    ._3-post-preview {
        li {
            width: 100%;
            margin-left: 0;
        }
        .image-1 {
            bottom: 5%;
            right: 10%;
        }
        h3 {
            font-size: 12pt;
        }
    }
}