._4-image-preview {
    display: inline-block;
    width: 100%;
    margin-bottom:100px;


    .text {
        width: 100%;
        min-height: 100px;
        margin-left: 4em;
    }

    ul {
        list-style: none;
        width: 100%;
    }

    li {
        display: inline-block;
        width: 23%;
        text-align: center;
    }

    .image {
        width: 100%;
        height: 80%;
    }

    img {
        height: 100%;
        width: auto;
    }
}