._5-post-preview {
    width: 100%;
    display: inline-block;

    .text {
        margin: 1em 1em 1em 4em;
        vertical-align: top;
        display: inherit;
        width: 100%;

        p {
            max-width: 50%;
        }

        h2 {
            max-width: 50%;
        }
    }

    ul {
        display: flex;
        justify-content: center;
        width: auto;
        list-style: none;
        margin: auto;
    }

    li {
        display: inline;
        float: left;
        width: 17%;
        height: auto;
        padding: 0.5em;
        margin: 0 auto 0 auto;
    }

    h3 {
        text-decoration: none;
        margin: 0.5em 0 0.5em 0.5em;
        text-align: center;
    }

    .preview{
        display: inherit;
        width: 100%;;

        .listItem{
            width: 100%;
            padding-bottom: 1em;
        }

        .imgWrap {
            padding: 0;
            width: 100%;
            height: 100px;
            display: block;


            img{
                width: auto;
                height: 100px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    ._5-post-preview {
        .text {
            margin: 1em 1em 1em 2em;
            h2 {
                max-width: 70%;
            }
        }
        ul {
            display: inline-block;
            margin-left: 12%;

        }
        li {
            display: none;
            width: 40%;
            height: 10rem;
            margin-bottom: 1rem;
        }
    }
}

