.ginput_container{
    margin-bottom: 50px;
}

input{
    border:0;
    border-bottom: 2px;
    border-color: #000000;
    border-style: solid;
}

input[type=file]{
    border:0;
}

input[type=submit]{
    width: 250px;
    height: 75px;
    background-color: #0000ff;
    color: #ffffff;
    font-size: larger;
    font-weight: 600;
}

.formImage img{
    position: absolute;
    width: 25%;
}

@media screen and (max-width: 768px) {
    .formImage img{
        position: absolute;
        visibility: hidden;
        z-index: -1;
    }
}