.members-list{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;


    ul{
        width: 100%;
        height: auto;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }

    li{
        display: inline-block;
        margin:0;
        margin-bottom: 50px;
        flex-basis: 50%;
        width: 50%;
        height: 200px;
    }

    .image{
        display: inline-block;
        height: 10vw;
        width: 10vw;
    

       img{
            border: 2px;
            border-style: solid;
            border-color: #0000ff;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .text{
        display: inline-block;
        vertical-align: top;
        padding-left: 1rem;
        height: auto;
        width: 65%;
    

        strong{
            font-size: larger; 
        }

        h3{
            font-weight: 200;
            margin: 0.5em 0 0.5em 0; 
        }
    }
}

@media screen and (max-width: 1024px) {
    .members-list{
        ul {
            display: inline-block;
        }
        li {
            width: 90%;
        }
    }
}

@media screen and (max-width: 480px) {
    .members-list{
        li {
            width: 100%;
        }
    }
}