.image-hero-2-images {
    width: 100%;
    min-height: 475px;
    display: inline-block;
    margin-bottom: 50px;
    position: relative;


    .image-1 {
        display: inherit;
        vertical-align: top;
        margin: 7em 6em 1em 1em;
        width: 2%;
    }

    .text {
        margin: 5em 1em 1em 1em;
        vertical-align: top;
        display: inherit;
        width: 60%;
    }

    .text p {
        max-width: 60%;
    }

    .image-2 {
        display: inherit;
        margin: 2em 1em 1em 1em;
        width: 30%;
        position: absolute;
        bottom: 22%;
        right: 10%;
        z-index: -1;

    }

    .image-3 {
        display: inherit;
        margin: 2em 1em 1em 1em;
        position: absolute;
        bottom: -10%;
        right: 40%;
        z-index: 0;
    }

    .image-3  img{
        object-fit: cover;
        width: 12vw;
        height: 12vw;
        border-radius: 50%;
        border: 3px;
        border-style: solid;
        border-color: #707070;
    }

    .decoration-1 {
        display: inherit;
        position: absolute;
        width: 20%;
        top: 30%;
        right: 0;
        z-index: -1;
        animation-name: wobble;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }

    .racetrack {
        display: inherit;
        width: 20%;
        position: absolute;
        right: 35%;
        top: 60%;
        z-index: -2;
    }
}

@media screen and (max-width: 1024px) {
    .image-hero-2-images{
        .image-1{
            margin: 7rem 3rem 1rem 1rem;
            width: 2%;
        }  
        .text p{
            max-width: 60%;
        } 
    }
       
}

@media screen and (max-width: 800px) {
    .image-hero-2-images{
        min-height: 0px;
        .image-1{
            margin: 3rem 1rem 1rem 0.5rem;
            width: 3%;
        }
        .image-2 {
            right: 5%;
            top: 9rem;
        }
        .image-3 {
            visibility: hidden;
            z-index: -1;
            top:0;
            right: 0;
        }
        .text {
            margin: 1rem;
            width: 80%;
            p{
                max-width: 50%;
            }
            h2 {
                font-size: 22pt;
            }
        }
        .racetrack {
            visibility: hidden;
            z-index: -1;
            top:0;
            right:0;
        }
    }
}

@media screen and (max-width: 480px) {
    .image-hero-2-images{
        min-height: 450px;
        margin-bottom: 100px;
        .image-1{
            visibility: hidden;
            z-index: -1;
            position: absolute;
        }
        .text {
            margin: 1rem;
            width: 100%;
            p{
                max-width: unset;
            }
            h2 {
                font-size: 15pt;
            }
        }
        .image-2 {
            display: inline-block;
            position: absolute;
            top: unset;
            right: unset;
            bottom: -20%;
            left: 0;
            width: 100%
        }
    }
}
