.hero-3-images {
    width: 100%;
    min-height:550px;
    display: inline-block;
    margin-bottom: 50px;
    position: relative;


   .text {
        margin: 4em 1em 1em 4em;
        vertical-align: top;
        display: inline-block;
        width: 30%;
    }
    .text  p{
        max-width: 100%;
    }

    .image-1 {
        margin: 1rem 1rem 1rem 1rem;
        display: inline-block;
        width: 40%;
        vertical-align: center;
    }

    .image-2 {
        display: inherit;
        position: absolute;
        bottom: 0;
        left: 35%;
        width: 15vw;
        height: 15vw;
    }
    .image-2 img{
        object-fit: cover;
        border-radius: 50%;
        border: 2px;
        border-color: #707070;
        border-style: solid;
    }

    .image-3 {
        display: inherit;
        position: absolute;
        bottom: -5%;
        left: 60%;
    }
    .image-3 img{
        object-fit: cover;
        width: 12vw;
        height: 12vw;
        border-radius: 50%;
        border: 2px;
        border-color: #707070;
        border-style: solid;
    }

   .decoration-1{
        display: inherit;
        position: absolute;
        bottom: 0;
        left: 0%;
        width: 15%;
        margin-left: -50px;
        z-index: -1;
        animation-name: wobble;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    .decoration-2{
        display: inherit;
        position: absolute;
        bottom: 0;
        left: 35%;
        width: 20%;
        z-index: -1;
        animation-name: wobble;
        animation-duration: 6s;
        animation-iteration-count: infinite;
    }

    .startup-counter {
        display: inherit;
        position: absolute;
        bottom: 0;
        left: 65%;
        width: 80px;
        height: 150px;
        margin-bottom: -75px;
        z-index: 1;

        text-align: center;
        font-weight: lighter;
        font-size: smaller;
        color:#707070;
    }

    .startup-amount {
        display: block;
        left: 65%;
        width: 80px;
        height: 80px;

        background-color: #EAF2F9;
        border-radius: 50%;
        text-align: center;
        padding-bottom: 8px;

        border: 2px;
        border-color: #707070;
        border-style: solid;
    }
    .startup-counter h2{
        padding: 0;
        margin: 0;
        margin-top: 0.5em;
    }


    .racetrack {
        display: inherit;
        width: 20%;
        position: absolute;
        right: 20%;
        top: 60%;
        z-index: -1;
        visibility: hidden;
    }

}

@media screen and (max-width: 1200px) {
    .hero-3-images {
        .image-1 {
            float: right;
            margin-top: 4rem;
        }

        .image-2 {
            bottom: 0%;
            left: 30%;
            img {
                
            }
        }

        .image-3 {
            bottom: 0%;
            left: 60%;
            img {
                

            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .hero-3-images {
        .image-1 {
            img {
                width: 100%;
                margin-top: 4rem;
            }
        }

        .text {
            width: 35%;
        }

        text p {
            max-width: 100%;
        }

        .racetrack {
          visibility: hidden;
        }
    }
}
@media screen and (max-width: 800px) {
    .hero-3-images {
        .text {
            width: 100%;
            margin: 4rem 1rem 1rem 1rem;

            p {
                max-width: 30%;
            }
        }
        .image-1 {
            margin-top: 0;
            position: absolute;
            right: 5%;
            bottom: 25%;
            width: 50%;
            img {
                width: 100%;
                margin-top: 0;
            }
        }

        .image-2 {
            bottom:0;
            left: 40%;
        }

        .image-3 {
            position: absolute;
            bottom: 0;
            left: 70%;
        }

        .startup-counter {
            bottom: 7%;
            right: 5%;
        }
    }
}

@media screen and (max-width: 480px) {
    .hero-3-images {
        .text {
            display: inline-block;
            width: 100%;
            margin: 4rem 1rem 1rem 1rem;

            p {
                max-width: 100%;
            }
        }
        .image-1 {
            position: relative;
            float: left;
            right: 0;
            left: 0;
            margin: 1rem;
            width: 100%;
        }
        .image-3 {
            position: absolute;
            z-index: -1;
            visibility: hidden;
        }

        .startup-counter {
            position: absolute;
            z-index: -1;
            visibility: hidden;
        }
    }
}