.text-2-images{
    display: inline-block;
    width: 100%;
    min-height: 500px;
    position: relative;


   .text {
        display: inherit;
        width: 30%;
        margin: 1em 1em 1em 2em;
    }

    .image-1 {
        width: 45%;
        margin: 2em 2em 1em 4em;
        float: right;
        img {
            object-fit: cover;
            width: 40vw;
            height: 25vw;
        }
    }

    .image-2 {
        width: 20%;
        margin: 1em;
        display: inherit;
        position: absolute;
        top: 50%;
        right: 50%;
        img {
            object-fit: cover;
            width: 12vw;
            height: 12vw;

            border-radius: 50%;
            border: 3px;
            border-style: solid;
            border-color: #707070;
        }
    }

    .image-2-right {
        width: 15%;
        margin: 1em;
        display: inherit;
        position: absolute;
        top: 60%;
        right: 0;
    }

    .image-2-right img{
        border-radius: 50%;
        border: 3px;
        border-style: solid;
        border-color: #707070;
    }
}


@media screen and (max-width: 1024px) {
    .text-2-images{

        .text p{
            max-width: 100%;
        }

        .image-1{
            margin: 6em 2em 1em 4em;
        }

        .image-2 {
            right: 45%;
        }
    }
}

@media screen and (max-width: 800px) {
    .text-2-images{

        .text {
            margin: 1rem 1rem 1rem 1rem;
            width: 90%;
            float: left;
            p{
            
            }
        }

        .image-1{
            width: 50%;
            margin: 2em 2em 1em 2em;
            float: left;
        }
        .image-2 {
            right: 15%;
            img {
                width: 25vw;
                height: 25vw;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .text-2-images{
        .image-1 {
            img {
                width: 100%;
                height: auto;
            }
            width: 100%;
            margin: 0;
        }
        .image-2 {
            visibility: hidden;
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
        }
    }
}